
header {
    
    background-color:#FFFDD0;
    border-bottom: 2px solid #9B1D20;
    border-bottom-width: thick; 
    padding-top:5px;
    text-align:center;
    color: #9B1D20 ;
    font-size: 25px;
    font-weight: bold;
  
}
nav {
    text-align:center;
    
}
.navigation li { 
    background-color:#FFFDD0;
    font-weight: bold;
    font-size: 25px;
    
    padding: 25px;
    list-style: none;

    
    
}

 

.navigation a {
    text-decoration:none;
    color:#9B1D20;
    

}
.navigation a:hover{
    color:black; ;
    
    
}


body{
    background-color: #9B1D20; 
    padding: 0px;
    margin: 0;
}

.center{
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom: 20px;
    width: 480px
    
    
}
.caption p {
    font-size: 30px;
    font-weight: normal;
    color: #FFFDD0;
    
}

p{
    text-align:center;
    font-size: 30px;
    
}

footer{
    background-color: #031926;
    color: #FFFDD0;
    padding: 20px 20px;

}   

main{
    text-align: left;;
}
.about p{
    padding: 10px;
    color: #FFFDD0;
    text-align: left;
    text-indent: 5%;
}

footer{
    text-align: center;
    
}

footer a{
    list-style: none;
    text-decoration: none;
    color:#FFFDD0
}
footer a:hover{
    color:white;
}